<div class="row-fluid">
	<div class="span12">
		<div class="per-member-block">

			<div>
				<%= gravatar_image_tag(@justine, class:"img-circle pull-left", gravatar: { size: 192 }) %>
				<div style="margin-left:250px">
					<p style="font-size:28px;color:#4873A3;letter-spacing:1px;"> Justine Salangsang </p>
					<small> UI/UX Designer </small>

					<div class="row-fluid">
						<div style="margin-top:10px;text-align:justify;text-indent:20px" class="span8">
							<p>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam.
							</p>
						</div>
					</div>
				</div>

				<div class="clearfix"></div>
			</div>
			
		</div>

		<div class="per-member-block">

			<div>
				<%= gravatar_image_tag(@axel, class:"img-circle pull-left", gravatar: { size: 192 }) %>
				<div style="margin-left:250px">
					<p style="font-size:28px;color:#4873A3;letter-spacing:1px;"> Axel Felipe </p>
					<small> Project Manager/Team Lead </small>

					<div class="row-fluid">
						<div style="margin-top:10px;text-align:justify;text-indent:20px" class="span8">
							<p>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam.
							</p>
						</div>
					</div>
				</div>

				<div class="clearfix"></div>
			</div>
			
		</div>

		<div class="per-member-block">

			<div>
				<%= gravatar_image_tag(@mark, class:"img-circle pull-left", gravatar: { size: 192 }) %>
				<div style="margin-left:250px">
					<p style="font-size:28px;color:#4873A3;letter-spacing:1px;"> Mark Chavez </p>
					<small> Web Developer </small>

					<div class="row-fluid">
						<div style="margin-top:10px;text-align:justify;text-indent:20px" class="span8">
							<p>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam.
							</p>
						</div>
					</div>
				</div>

				<div class="clearfix"></div>
			</div>
			
		</div>
	</div>
</div>

